# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/
/.settings/
/mvcdo.iml
/src/main/resources/xai-constant.properties
/src/main/resources/xai-jdbc.properties
